<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6">
      <h4>IP info</h4>
      <dl>
        <dt>Public IP address</dt>
        <dd><%= @y['ip'] %></dd>
        <dt>Country</dt>
        <dd><%= @y['country']%></dd>
        <dt>Continent</dt>
        <dd><%= @y['city']  %></dd>
        
      </dl>
    </div>
  </div>
</div>
