<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6">
      <h4>IP info</h4>
      <dl>
        <dt>Public IP address</dt>
        <dd><%= @y['ip'] %></dd>
        <dt>Country</dt>
        <dd><%= @y['country']%></dd>
        <dt>City</dt>
        <dd><%= @y['city']  %></dd>
        
      </dl>
    </div>
    <button type="button" id="p" class="btn btn-primary">Make Me an Admin</button>
    <br>
    <button type="button" id="x" class="btn btn-success">Make Me an Journalist</button>
    <%=@user%>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<script>
$("#p").click(function(){
     $.ajax({
              type:'GET',
              url:'/data/update_current_user_to_admin'
              });
});

</script>
<script>
$("#x").click(function(){
     $.ajax({
              type:'GET',
              url:'/data/update_current_user_to_journalist'
              });
});
</script>
</div>